.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2874f0;
    color: white;
    padding: 7px 7%;

}

.searchbox{
    display: flex;
    align-items: center;


}

.inputtab{

    width: 350px;
    margin-left: 10px;
    height: 30px;
    
}

.navbar_right{
    width: 40%;
    margin-left: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    

}